<h2>This is the searchlist</h2>
<!-- <button (click)="navigateSearch()">Search</button> -->
<button (click)="navigateSearch()" type="button" class="btn btn-info"><i class="fas fa-search" ></i>Search</button>


<div class="list-group mt-3">
    <a *ngFor="let s of searches" 
    [routerLink]="['/search', s.genre, s.q]"
    class="list-group-item list-group-item-action active">
      {{s.q}} ({{s.genre}})
    </a>
</div>




<i class="fas fa-home" [routerLink]="['/']"></i>
<!-- <button [routerLink]="['/']">Back</button> -->